

.about-container {
    margin: 20px;
    display: flex;
    gap: 27px;
    justify-content: space-between"
}
.about-container a {
    font-weight: 600;
    color: black;
}
.content-container h5 {
    margin-top: -20px;
    width: 202px;
    background-color: #fed336;
}
.about-container h3 {
    margin: 0px;
    margin-top: 30px;
    line-height: 0px;
}
.about-container img {
    width: 400px;
    object-fit: cover;
}
.about-container ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding: 0px;
    gap: 27px;
}

/* Projects */

#project h1 {
    margin: 0;
    margin-top: 50px;
    text-align: center;
}

small {
    display: block;
    text-align: center;
    margin-bottom: 20px;    
}

.projects-container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.project {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background: linear-gradient(90deg, #fff5d4 0%,white  100%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.356);     
}

.content-container h3{
    margin-bottom: 20px;
}

.p-list {
    line-height: 0px;
}


.title {
    padding: 0%;
    margin: 0px;
    margin: 5px 10px;
}

.project img {
    width: 100%;
    height: 250px;
}

.project p {
    margin: 10px;
}

.stacks {
    display: flex;
    flex-wrap: wrap;    
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    justify-content:start;
    gap: 10px;
    list-style: none;

}

.stacks li {
    background-color: black;
    padding: 8px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}

::selection {
    text-shadow: none;
    background: #fed336;
}



