body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto'Arial, Helvetica, sans-serif;
}

#nav {
    position: absolute;
    width: 100%;
    /* padding-r: 20px; */
}

#title {
    margin: 0%;
    color: white;
    font-weight: 600;

    font-size: 38;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5% 10%;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 27px;
    margin: 0px;
    /* margin-right: 10%; */
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Hero */

.hero-container {
    height: 90%;
    align-items: flex-end;
    display: flex;
    background-image: url('/images/desktop/image-hero.jpg');
}

.hero-motto {
    width: 400px;
    height: 200px;
    border: 2px white solid;
    margin-left: 10%;
    padding: 20px;
    display: flex;
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
}

#motto {
    font-size: 60px;
    line-height: 1;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: start;
    /* lin */
    text-transform: uppercase;
    font-style: normal;    
}

/* content */
#content {
    margin: 10% ;
    display: flex;
}
#content-image {
    height: 450px;
}
.content-declaration {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    padding-top: 40px ;
    padding-left: 80px;
    margin: 15% 0px 0px -15%;

}

#declaration {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}
#history {
    margin-bottom: 0;
}

/* creations */
#creations {
    margin: 10%;
    
}

.content-lable {
    display: flex;
    justify-content: space-between;
}

.content-lable h6{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
    margin: 0px;
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.content-lable a {
    text-decoration: none;
    margin-top: 0px;  
    margin-top: 0px;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    color: black;
    font-size: 14px;
    border: 2px black solid;
    height: 16;

}

#content-creations {
    display: grid;
    grid: repeat(4);

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 30px;
}
.creation {
   display: flex;    
}

.creation h5 {
    font-size: 34px;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    max-width: 170px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    margin: 30px;
    align-self: flex-end;
    color: white;
}

/* footer */
#footer {
    background-color: black;
    color: white;
    padding: 30px 10%;
}
#titleFooter {
    margin-top: 0px;
}
.colomn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.colomn ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.colomn img {
    width: 20px;
}

.colomn small{
    color: lightgray;
}


