@import '../../vars.css';
.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;    
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;
    padding-right: 40px;

    /* background-color: black; */
}

.title a {   
    display: flex;
    width: 250px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.title img {
    justify-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.menu {
    display: flex;    
}
.menuBtn{
    display: none;
}

.menuItems {
    display: flex;
    gap: 40px;
    list-style: none;
}
.menuItems a {
    font-size: 13px;
    gap: 47px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
.menuItems a:hover {
    outline: 0;
    color: #ccc;
    background-color: transparent;
}

.menuItems a:focus,
.menuItems a:active {
    outline: 0;
    background-color: transparent;
}

.menuItem.active {
    outline: 0;
}

.menuItems.active li a {
    background-color: rgba(255, 255, 255, .3);
}

.menuItems.active li a:hover {
    color: #fff;
}

 /* @media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3; 
    }
    .menuBtn {
        display: block;
        cursor: pointer;
    }
    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        border-radius: 10px;
        background: rgb(25, 55, 255);
        background: linear-gradient(
            0deg,rgba(25,55,100,0.2) 0%,
            rgba(25,55,109,1) 100%
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
    
}  */